.pattern__background {
  background-color: #000;
}

.letter {
  line-height: 0.7em;
  outline: 2px solid transparent;
  outline-offset: 2px;
  user-select: none;
  box-shadow: none;
  color: #fed7aa;
    text-shadow: 0 0 10px #FFEDD5,
    0 0 20px #FFEDD5,
    0 0 40px #FFEDD5,
    0 0 80px #FFEDD5,
    0 0 160px #FFEDD5;
}